.container-choose-register {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 70px;
    gap: 20px;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--bs-dark);
}

.href-login {
    color: #014ca1;
    cursor: pointer;
}

.question {
    font-weight: lighter;
}

.container-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-type-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button-type-user button {
    width: 65%;
    margin: auto;
    border-radius: none;
    background-color: transparent;
    color: var(--bs-dark);
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 2px var(--bs-dark);
    padding-top: 8px;
    padding-bottom: 8px;
    transition: width 0.5s ease;

}

.button-type-user button:hover {
    width: 85%;
}





/* FORM CLIENT */



.container-form-client {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

label {
    text-transform: capitalize;
    color: rgb(18, 25, 56);
}

input {
    width: 100%;
    border: solid 1px rgb(223, 221, 221);
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#submit {
    background-color: var(--bs-dark);
    color: white;
    border: none;
    border-radius: 8px;
}

.input-verificado {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}








@media (min-width: 360px) and (max-width: 899px) {
    .container-choose-register {
        width: 100%;

    }

    container-button {
        width: 100%;

    }

    .container-form-client {

        padding-bottom: 0px;
        padding-top: 0px;
    }

}